body {
  margin: 0;
  background-color: #16191f;
  background-image: url(../src/assets/images/backImage.jpg);
  background-position: 30% ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 850px;
  

}